body{
	background-color:#e8e3c7;
	background: url("Common/brush.gif") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.box{
	margin:0px;
	padding:0px;
	z-index: 2;
}