body{
	background-color:#E8DFAA;
}
.bigbox{
	margin: 5px auto 5px auto;
}
.grid{
	display: grid;
	max-width:1000px;
	min-width: 600px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	margin: 5px auto 5px auto;
	padding: 10px;
}

.box{
	margin:5px;
	position: relative;
	background-position: center;
}

.brownbox{
	margin:5px;
	background-color:#825A31;
	border-radius: 50%;
}

.icon{
	width: 20%;
	height:20%;
	margin-top:40%;
	margin-left: 40%;
	margin-right: 40%;
	border-radius: 0%;
}
.overlay{
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transition: 0.2s ease;
	transition: 0.2s ease;
}
.text {
	font-family:"baskerville";
	font-size:30px;
	margin:0px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
a{
	font-family:"baskerville";
	font-size:30px;
	margin:0px;
}
.box:hover .overlay {
  opacity: 1;
  text-decoration:underline;
}
.white{
	color: white;
}

img{
	width:100%;
	height:100%;
	object-fit: contain;
	z-index: -1;
	border: 3px solid #825A31;
	border-radius: 50%;
	margin:0px;
}
