/* ICONNAV */
.icongrid{
    width:auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding:1em;
    position:fixed;
    z-index:4;
    top:0;
}
.icon{
    display:inline-block;
    width:50px;
    height:50px;
    padding:5px;
}

.iconmargin{
    height: 84px;
}

/* TYPOGRAPHY */
h1{
    font-size: calc(10px + 2.4vw);
    text-transform: uppercase;
    word-break: normal;
    hyphens: auto;
}

h2{
	font-size: 30px;
}

h6{
    font-size:24px;
    font-weight: bold;
}

p, li{
    font-size:24px;
}

h1, h2, h6, p, li{
    font-family: "baskerville";
    line-height:1.5;
    margin:0px;
}


/* IMG */

.imgsize{
	width:100%;
	margin:auto;
}


/* TEXTCOL */
.brown{
    color: #825A31;	
}
.grey{
    color: #ededed;
}
.ivory{
    color:#E8DFAA;
}
.blue{
    color:#53516A;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 12px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius:5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}


/* WOMAN */

.womanbox{
    width:98%;
    margin:auto;
}

.margin{    
    height:100px;
}

/* BG */

.womanbg{
    width:100vw;
    height:100vh;
    left:0;right:0;top:0;
    position:fixed;
    background-image: url("Common/background.jpg");
    background-attachment:fixed;
    z-index:-1;
}

.brushbg{
    width:100vw;
    height:100vh;
    left:0;right:0;top:0;
    position:fixed;
    background-color:#e8e3c7;
    background: url("Common/brush.gif") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.quotebg{
    border: 2px solid #E8DFAA;
	background:url("Common/banner.jpg") no-repeat top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.resourcebg{
	background: url("Common/resourceback.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
}

/* GAP */

.gap{width: 100%;height:2em;}

/* BG COLOR */

.ivorybg{background-color:#E8DFAA}

.brownbg{background-color:#825A31;}

.bluebg{background-color:#53516A;}

.blackbg{background-color:black;}

.greybg{background-color:#ededed;}


/* GRID */

.threegrid{
    width:98%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: auto;
    padding: 10px;
    box-sizing:border-box;
}

.imgs{
	width: 100% !important;
	height: auto !important;
	margin: .5em 0 .5em 0;
}

.imggrid{
	line-height: 0;   
	-webkit-column-count: 4;
	-webkit-column-gap:   1em; 
	-moz-column-count:    4;
	-moz-column-gap:      1em; 
	column-count:         4;
	column-gap:           1em; 
}

.quotegrid{
	display:grid;
	grid-template-columns: 30% 1fr;
    grid-gap:10px;
}

#quotebox{
    padding: 1em;
}

@media (max-width: 960px) {
	.imggrid {
	-moz-column-count:    3;
	-webkit-column-count: 3;
	column-count:         3;
	}
}
  @media (max-width: 840px) {
	.imggrid {
	-moz-column-count:    2;
	-webkit-column-count: 2;
	column-count:         2;
}

}
  @media (max-width: 600px) {
	.imggrid {
	-moz-column-count:    1;
	-webkit-column-count: 1;
	column-count:         1;
	}
}

/* BOX */
.refbox{
	width:98%;
	margin: auto auto 1em auto;
	padding:1em;
	box-sizing: border-box;
}

.resourcebox{
	overflow:hidden;
	margin:1em;
	padding:30px;
	border: 2px solid #825A31;
}


/* RESPONSIVE */

@media only screen and (max-width: 960px) and (min-width:601px) {
	.threegrid{
		grid-template-columns: 1fr 1fr;
	}
	.clientbox{
		width: 42vw;height: 42vw;
	}	
	.greybox{
		width: 42vw;height: 42vw;
	}
}

@media only screen and (max-width: 600px){
    ::-webkit-scrollbar {
        display:none;
    }

    h1{
        font-size: calc(10px + 10vw);
    }

	.threegrid{
		grid-template-columns: 1fr;
	}
	.clientbox{
		width: 90vw;height: 90vw;
	}
	.greybox{
		width: 90vw;height: 90vw;
    }
    
    .quotegrid{
		display:grid;
		grid-template-columns:1fr;
		grid-gap:10px;
	}
}