.grid{
	display:grid;
	width: 100%;
	margin:auto;
}

.gridbox{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image:url("index/grid.jpg");
	background-size: cover;
	border: 1px solid #111111;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	border: 1px solid #111111;
}

img{
	width:100%;
	height:100%;
	object-fit: cover;
	z-index:-1;
}

.quote{background-image:url("index/quote_i.jpg");}
.quote:hover{background-image:url("index/quote_h.jpg");}

.sketch{background-image:url("index/sketch_i.jpg");}
.sketch:hover{background-image:url("index/sketch_h.jpg");}

.brush{background-image:url("index/brush_i.jpg");}
.brush:hover{background-image:url("index/brush_h.jpg");}

.client{background-image:url("index/client_i.jpg");}
.client:hover{background-image:url("index/client_h.jpg");}

.woman{background-image:url("index/woman_i.jpg");}
.woman:hover{background-image:url("index/woman_h.jpg");}

.resource{background-image:url("index/resource_i.jpg");}
.resource:hover{background-image:url("index/resource_h.jpg");}	

.quote, .sketch, .brush, .client, .woman, .resource{
	background-size: cover;
}

.quote:hover, .sketch:hover, .brush:hover, .client:hover, .woman:hover, .resource:hover{
	z-index:2;
	background-size: cover;
	-webkit-transition: background-image 0.2s ease;
	transition: background-image 0.2s ease;
}

@media screen and (min-width:600px){
	.grid{
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}
}

@media screen and (max-width:600px){
	.grid{
		grid-template-columns: repeat(3, 1fr);
	}
}