.banner{
	width:100%;
	max-height:300px;
	min-height:200px;
	margin:0px;
	padding:0px;
	display:inline-block;
	background:url("Common/banner_2.jpg") no-repeat top fixed;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
.box{
	width:70%;
	min-width:600px;
	margin: 50px auto 10px auto;
	padding:10px;
	text-align: left
}
.grid{
	display:grid;
	grid-template-columns: 30% 1fr;
	grid-gap:10px;
}
.wid{
	width:100%;
}
#jc{
	margin:10px 50px 10px auto;
}
h1{
	font-family:"baskerville";
	font-size: 85px;
	text-align:left;
	color: #E8DFAA;	
}
h2{
	font-family:"baskerville";
	font-size: 48px;
	text-align:left;
	color: #E8DFAA;	
}
p{
	font-family:"baskerville";
	font-size: 30px;
	text-align:left;
	color: #E8DFAA;	
}
body{
	background-color:black;
}