

.bg{
	background:url("Common/banner.jpg") no-repeat top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.box{
	width:99%;
	margin: auto;
	padding:10px;
}

.yellow{
	border: 2px solid #E8DFAA;
	padding:30px;
}

.grid{
	display:grid;
	grid-template-columns: 30% 1fr;
	grid-gap:10px;
}

.gridbox{
	padding:30px;
}

.icongrid{
	display:grid;
	width:480px;
	margin:auto;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	padding:10px;
}

.icon{
	float:center;
	display:inline-block;
	margin: auto;
	padding:10px;
}

#wid{
	width:100%;
}

.text{
	padding:40px;
}

h1{
	color: #E8DFAA;	
	font-family: "baskerville";
	text-align: center;
	font-size: 60px;
	text-transform: uppercase;
	height:auto;
}

h2{
	font-family:"baskerville";
	font-size: 48px;
	text-align:left;
	color: #E8DFAA;	
}

.font{
	font-family:"baskerville";
	font-size: 30px;
	text-align:left;
		line-height:1.5;
	color: #E8DFAA;	
}
body{
	background-color:black;
}