/* Structure */
body{
	background-color:#53516A;
}

img{
	display: flex;
	float:center;
	width:100%;
	height:auto;
}

.box{
	background-image:url("Common/sketch_background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid #ededed;
	padding:15px;
	object-fit:cover;
	display:inline-block;
}

.grid{
	border: 5px #ededed solid;
	width: 98%;
	min-width:900px;
	display:grid;
	grid-gap:0px;
	grid-template-columns: 1fr 1fr 1fr;
	margin: auto;
	overflow: hidden;
}

.icon{
	width:50px;
	height:50px;
	margin:10px;
	top: 0px;
	left: 0px;
}


/* Font */

h1{
	font-family: "baskerville";
	font-size: 40px;
	line-height:1.2;
	text-transform: uppercase;
	color:#ededed;
	margin: 10px;
}

p{
	text-align: left;
	color: #ededed;
	font-family: "baskerville";
	font-size:24px;
	line-height:1.5;
	margin: 10px;
}
