.grid{
	display: grid;
	grid-template-columns: 30vw 30vw 30vw;
	grid-template-rows: 30vw 30vw;
	grid-gap:20px;
	margin:20px;
	padding:20px;
}
.box{
	margin:10px;
	border-radius: 50%;
	position: relative;
}
.img{
	width:100%;
	height:100%;
	object-fit: contain;
	z-index: -1;
}
.overlay{
	opacity: 0;
	transition: .3s ease;
	background-color: white;
}
.overlay:hover{
	opacity: 100;
}
p{
	color:black;
	font-family: "baskerville";
	font-size: 20px;
	position: absolute;
	top:50%;
	left:50%;
	text-align:center;
}
#client1{
	margin:10px;
	border-radius: 50%;
	border: 1px solid black;
	position: relative;
	background-image: url("client_1.png");
	background-position: center;
}