.box{
	margin:30px;
	padding:30px;
	text-align: left
}
h1{
	font-family:"baskerville";
	font-size: 35;
	text-align:left;
	text-transform: uppercase;
}
p{
	font-family:"baskerville";
	font-size: 67px;
	text-align:left;
	color: #d8b343;	
}
body{
	background-color:black;
}
a{
	color: #d6d6d6;
}