.box{
	margin:30px;
	padding:30px;
	text-align: left
}

p{
	font-family:"baskerville";
	font-size: 67px;
	text-align:left;
	color: #d8b343;	
}
strong{
	font-size: 200px;
}
body{
	background-color:black;
}
a{
	color: #d6d6d6;
}