body{
	background-color: #d3d3d3;
    color: #0e4463;
    font-family: "helvetica"
}

h1{
	font-size: 80px;
	text-transform: uppercase;
	width: 1100px;
	padding: 10px;
	margin: 50px;
	text-align: left;
	line-height: 75px;
}
h3{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	height: 30px;
	width: 1000px;
}

p{
	font-size: 20px;
	width: 1000px;
	text-align: left;
	
}

a:link{
	color: #0e4463;
	font-family: "courier new"
}

a:visited{
	color: red;
	font-family: "courier new"
}
.text{
	font-size: 20px;
	width: 1000px;
	padding: 10px;
	margin: 50px;
}
#quote{
	font-style: italic
	height: 30px;
	width: 1000px;
	padding: 10px;
	margin: 30px;
	text-align: center;
}

.smalltitle{
	font-size: 40px;
	text-align: center;
	height: 40px;
	width: 1000px;
	padding: 10px;
	margin: 7px 50px;
}
.box{
	padding: 10px;
	margin: 5px 50px;
	text-align: center;
}
.box2{
	padding: 10px;
	margin: 5px 50px;
}