body{
	background: #dbdbdb;
	background-image: url("resourceback.jpg");
	background-attachment:fixed;
}
h1{
	font-family: "baskerville";
	text-align: center;
	font-size: 60px;
	font-style: bold;
	text-transform: uppercase;
}
h2{
	font-family: "baskerville";
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;

}
.h2{
	font-family: "baskerville";
	text-align: center;
	font-size: 20px;

}
p{
	font-family: "baskerville";
	text-align: left;
	font-size:15px;
}
#book{
	margin-left: auto;
	margin-right:auto;
	width:50%;
	display:block;
}
.p{
	font-family: "baskerville";
	font-size:15px;
}
.box{
	margin: 20px;
	padding:20px;
	background: white;
}
.line{
	border: solid black 1px;
}
.titlebox{
	margin-top:10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left:20px;
	padding-right:20px;
	min-height:75px;
	max-height:150px;
    background: white;
}
.grid{
	display:grid;
	margin: 20px;
	padding: 20px;
	grid-template-columns: 45vw 45vw;
	grid-template-rows: 1fr;
	grid-gap:45px;
}
#gridbox1{
	margin-left: auto;
	margin-right: auto;
	max-height: 400px;
	min-height:200px;
	float: left;
}
#gridbox2{
	margin-left: auto;
	margin-right: auto;
	float: right;
	max-height: 400px;
	min-height:200px;
}
a:link{
	color: black;
}
a:visited{
	color: black;
}
a:hover{
	color: #0050d3;
}
#link1{
	float: left;
	margin:20px;
}
#link2{
	float: right;
	margin:20px;
}