.box{
	margin:30px;
	padding:30px;
}
body{
	background-color:black;
	background-image: url("background.jpg");
	background-attachment:fixed;
}
a{
	color: #d6d6d6;
}
.static{
	position: fixed;
	z-index: 2;
}