/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* General */
h1{
	font-size: 60px;
	color: white;
}
h2{
	font-family: 'Helvetica';
	font-size: 30px;
	color: white;
	text-transform:uppercase;

}
p{
	font-family: 'Helvetica';
	font-size: 27px;
	color: #818791;
	max-width: 1100px;
	min-width: 500px;
	margin: 10px auto 10px auto;
	margin-bottom:10px;
}
summary{
	border-bottom: solid 3px white;
	height: 90px;
	margin: 5px auto 5px auto;
	max-width: 700px;
	min-width: 400px;
}
.titlebox{
	margin: auto auto auto auto;
	padding: auto 10px auto 10px;
	max-width: 1100px;
	min-width: 500px;
}
a{
	text-decoration: underline;
	color:white;
}
.box{
	display: inline-block;
	padding: 10px;
	margin: 10px auto 10px auto;
	width:100%;
	float: center;
	z-index: 2;
}
.same{
	color:white;
	text-transform: uppercase;
	text-align:center;
	background-color:black;
}
.same:hover{
	animation: rainbow 2s linear infinite alternate;
}
@keyframes rainbow{
	0%{
		color: red;
		transition: all 0.3s ease;
	}
	25%{
		color: yellow;
		transition: all 0.3s ease;
	}
	50%{
		color: green;
		transition: all 0.3s ease;
	}
	75%{
		color: blue;
		transition: all 0.3s ease;
	}
	100%{
		color: purple;
		transition: all 0.3s ease;
	}
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* For Each Movie */

#timemachine{
	height:500px;
	background:url("time machine.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
}
#warworld{
	height:500px;
	background:url("war_worlds.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
}
#tripmoon{
	height:500px;
	background:url("a trip to the moon.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
}
#earthstood{
	height:500px;
	background:url("earthstood.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
}
#ape{
	height:500px;
	background:url("planet_ape.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
}
#tron{
	height:500px;
	background:url("tron.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
}
#owell{
	height:500px;
	background:url("1984.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;

}
#terminator{
	height:500px;
	background:url("terminator.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;

}
#odyssey{
	height:500px;
	background:url("spaceodyssey.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
}
#backfuture{
	height:500px;
	background:url("backtothefuture.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;

}
#bladerunner{
	height:500px;
	background:url("bladerunner.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* For title part */
.animation{
	background-position: center;
  	background-repeat: no-repeat;
	margin: 0px;
  	width: 100%;
  	height:700px;
	background: url("project 3_gif.gif") no-repeat center center fixed; 
   	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
}
.title{
	float: center;
	font-weight: bold;
	font-size: 70px;
	line-height: 75%;
	text-transform: uppercase;
	color: white;
	animation: title 2s linear infinite alternate;
}

@keyframes title{
	0%{
		color: red;
		transition: all 0.3s ease;
		font-family: 'Orbitron', sans-serif;
	}
	25%{
		color: yellow;
		transition: all 0.3s ease;
		font-family: 'Sarpanch', sans-serif;
	}
	50%{
		color: green;
		transition: all 0.3s ease;
		font-family: 'Orbitron', sans-serif;
	}
	75%{
		color: blue;
		transition: all 0.3s ease;
		font-family: 'Bowlby One SC', cursive;
	}
	100%{
		color: purple;
		transition: all 0.3s ease;
		font-family: 'Futura';
	}
}


