/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* General */
.animation{
  	background-repeat: no-repeat;
	margin: 10px auto 10px auto;
	padding: 10px 5px 10px 5px;
	border: solid 2px white;
  	width: 90%;
  	height: 700px;
	background: url("project 3_gif.gif") no-repeat  center fixed; 
   	-webkit-background-size: cover;
   	-moz-background-size: 90% 700px;
   	-o-background-size: 90% 700px;
   	background-size: 90% 700px;
}
body{
	background-color:black;
	}
h1{
	font-size: 60px;
	color: white;
}
h2{
	text-align:center;
	font-family: 'Play', sans-serif;
	font-size: 30px;
	color: white;
	text-transform:uppercase;

}
p{
	text-align:center;
	font-family: 'Play', sans-serif;
	font-size: 27px;
	color: white;
	margin-bottom:10px;
}
summary{
	border-bottom: solid 3px white;
	height: 150px;
	margin: 20px auto 10px auto;
	max-width: 1000px;
	min-width: 600px;
}
a{
	text-decoration: underline;
	color:white;
}
.same{
	color:white;
	text-transform: uppercase;
	text-align:center;
	background-color:black;
	margin:auto;
	padding: 10px auto 10px auto;
	font-size:70px;
}
.imgbox{
	margin: 20px auto 10px auto;
	border: solid 5px white;
  	width: 90%;
  	height: 300px;
}
.titlebox{
	text-align: center;
	margin: 10px auto 20px auto;
	padding: 10px 5px 10px 5px;
  	width: 80%;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* For Each Movie */

#timemachine{
	background:url("time machine.jpg") no-repeat center fixed;
	 -webkit-background-size: 90%;
   	-moz-background-size: 90%;
   	-o-background-size: 90%;
   	background-size: 90%;

}
#warworld{
	background:url("war_worlds.jpg") no-repeat center fixed;
	-webkit-background-size: 90%;
   	-moz-background-size: 90%;
   	-o-background-size: 90%;
   	background-size: 90%;
}
#tripmoon{
	background:url("a trip to the moon.jpg") no-repeat center fixed;
	-webkit-background-size: 90%;
   	-moz-background-size: 90%;
   	-o-background-size: 90%;
   	background-size: 90%;
}
#earthstood{
	background:url("earthstood.jpg") no-repeat center fixed;
	-webkit-background-size: 90%;
   	-moz-background-size: 90%;
   	-o-background-size: 90%;
   	background-size: 90%;
}
#ape{
	height:500px;
	background:url("planet_ape.jpg") no-repeat center fixed;
	-webkit-background-size: 90%;
   	-moz-background-size: 90%;
   	-o-background-size: 90%;
   	background-size: 90%;
}
#tron{
	height:500px;
	background:url("tron.jpg") no-repeat center fixed;
	-webkit-background-size: 90%;
   	-moz-background-size: 90%;
   	-o-background-size: 90%;
   	background-size: 90%;
}
#owell{
	height:500px;
	background:url("1984.jpg") no-repeat center fixed;
	-webkit-background-size: 90%;
   	-moz-background-size: 90%;
   	-o-background-size: 90%;
   	background-size: 90%;
}
#terminator{
	height:500px;
	background:url("terminator.jpg") no-repeat center fixed;
	-webkit-background-size: 90%;
   	-moz-background-size: 90%;
   	-o-background-size: 90%;
   	background-size: 90%;
}
#odyssey{
	height:500px;
	background:url("spaceodyssey.jpg") no-repeat center fixed;
	-webkit-background-size: 90%;
   	-moz-background-size: 90%;
   	-o-background-size: 90%;
   	background-size: 90%;
}
#backfuture{
	height:500px;
	background:url("backtothefuture.jpg") no-repeat center fixed;
	-webkit-background-size: 90%;
   	-moz-background-size: 90%;
   	-o-background-size: 90%;
   	background-size: 90%;

}
#bladerunner{
	height:500px;
	background:url("bladerunner.jpg") no-repeat center fixed;
	-webkit-background-size: 90%;
   	-moz-background-size: 90%;
   	-o-background-size: 90%;
   	background-size: 90%;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* For title part */

#title{
	text-align:center;
	line-height: 85%;
	float: center;
	font-weight: bold;
	font-size: 70px;
	min-width: 400px;
	text-transform: uppercase;
	color: white;
	animation: title 2s linear infinite alternate;
}

@keyframes title{
	0%{
		transition: all 0.3s ease;
		font-family: 'Orbitron', sans-serif;
	}
	25%{
		transition: all 0.3s ease;
		font-family: 'Sarpanch', sans-serif;
	}
	50%{
		transition: all 0.3s ease;
		font-family: 'Orbitron', sans-serif;
	}
	75%{
		transition: all 0.3s ease;
		font-family: 'Bowlby One SC', cursive;
	}
	100%{
		transition: all 0.3s ease;
		font-family: 'Futura';
	}
}


