/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* General */
h1{
	font-size: 60px;
	color: white;
}
h2{
	font-family: 'Helvetica';
	font-size: 30px;
	color: white;
	text-transform:uppercase;

}
p{
	font-family: 'Helvetica';
	font-size: 30px;
	color: white;
	max-width: 1100px;
	min-width: 500px;
	margin: 10px auto 10px auto;
	margin-bottom:10px;
}

summary{
	height: 70px;
	margin: 10px auto 10px auto;
	max-width: 700px;
	min-width: 400px;
	border-bottom: solid 1px white;
}
.titlebox{
	margin: auto auto auto auto;
	padding: auto 10px auto 10px;
	max-width: 1100px;
	min-width: 500px;
}
a{
	text-decoration: none;
}
.box{
	padding: 10px;
	margin: 10px auto 10px auto;
	width:100%;
	float: center;
	z-index: 2;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* For Each Movie */
.same{
	padding: 10px 30px 10px 30px;
	text-transform: uppercase;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	color:white;
}
#timemachine{
	height:500px;
	background:url("time machine.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
}
#tripmoon{
	height:500px;
	background:url("a trip to the moon.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
}
#terminator{
	height:500px;
	background:url("terminator.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;

}
#odyssey{
	height:500px;
	background:url("spaceodyssey.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
}
#bladerunner{
	height:500px;
	background:url("bladerunner.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* For title part */
.animation{
	background-position: center;
  	background-repeat: no-repeat;
	margin: 0px;
  	width: 100%;
  	height:700px;
	background: url("project 3_gif.gif") no-repeat center center fixed; 
   	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
}
.title{
	float: center;
	font-weight: bold;
	font-size: 70px;
	line-height: 75%;
	text-transform: uppercase;
	color: white;
	animation: title 1s linear infinite alternate;
}

@keyframes title{
	0%{
		color: #f4424b;
		transition: all 0.3s ease;
		font-family: 'Orbitron', sans-serif;
	}
	25%{
		color: #ffe949;
		transition: all 0.3s ease;
		font-family: 'Sarpanch', sans-serif;
	}
	50%{
		color: #24996e;
		transition: all 0.3s ease;
		font-family: 'Orbitron', sans-serif;
	}
	75%{
		color: #244d99;
		transition: all 0.3s ease;
		font-family: 'Bowlby One SC', cursive;
	}
	100%{
		color: #f4424b;
		transition: all 0.3s ease;
		font-family: 'Futura';
	}
}


