body{
    background: #00103B;
}

h1{
    font-family: Helvetica, sans-serif;
    font-size: 60px;
    padding: 30px;
    font-weight: bold;
    color: #00103B; 
    text-align:center;
}
p{
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color:#FF7655;
}

#time{
    font-family: Helvetica, sans-serif;
    font-size:4vw;
    padding: 30px;
    font-weight: bold;
    color:#FF7655;
    text-align:center;
    background: #005749;
}

.imgbox{
    left:0;
    right:0;
    width:100%;
}
img{
    left:0;
    right:0;
    width:100%;
}
.box{
    width:90%;
    margin:auto;
}
.margin{
    height:30px;
}

.grid{
    display:grid;
    grid-template-columns: 70% 30%;
    grid-gap: 10px;
    width:90%;
    margin:auto;
}
.gridbox{
    display:inline-block;
}
.common{
    border:none;
    width:100%;
    padding:10px;
    margin: 0 auto 0 auto;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

input{
    background: #FFEB00;
    color:#FF7655;

}

button{
    background: #005749;
    color:#FF7655;
}

#myText{
    width: 90%;
    margin: auto;

}