body{
    background:#eeeeee;
}

h1{
    font-family: 'Courier New', Courier, monospace ;
    font-size: 30px;
}
.font{
    font-family: 'Courier New', Courier, monospace ;
    font-size: 15px;
}

.text{
    width: 80%;
    margin: auto;
}
.white{
    color: white;
}

.nav{
    background-color: #333333;
    width: 100%;
    position: fixed;
    top: 0px;
    left:0px;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
    width:80%;
    margin:auto;
}
.box{
    display:inline-block;
}

/* iframe{
    width:100%;
} */