:root {
  /* COLOR */
  --grey-white: #FFFFFF;
  --grey-light-01: #E9EEF5;
  --grey-light-02: #D5DEEA;
  --grey-light-03: #ADBDD3;
  --grey-md-01: #919CAF;
  /* BORDER COLOR BELOW*/
  --grey-md-02: #5F6A7D; 
  /* BORDER COLOR TOP */
  --grey-md-03:#454C58;
  --grey-dark-01: #383B44;
  --grey-dark-02: #2C2B30;
  --grey-black: #212024;
  --blue-default: #2989E8;
  --blue-tint-01: #DBEBFB;
  --blue-tint-02: #B3DBF7;
  --blue-tint-03: #6EB7FF;
  --blue-dark:#255486;
  --yellow-default: #FFE57E;
  --yellow-dark: #E7B901;
  --yellow-tint-01: #FFF3C5;
  --shadow-default: rgba(0, 0, 0, 0.12);

  /* PADDING */
  --padding-thin:2px;
  --padding-xxs:4px;
  --padding-xs:6px;
  --padding-sm:8px;
  --padding-md: 12px;
  --padding-lg: 16px;
  --padding-object: 20px;
  --padding-section: 24px;
  --max-width: 840px;
  --max-width-project: 1080px;
  --max-width-header: 1440px;
  --padding-header: 36px;

  /* RADIUS */
  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-round: 999px;

  /* FONT-SIZE */
  --font-size-sm: 1.12rem;
  --font-size-md: 1.18rem;
  --font-size-lg: 1.4rem;
  --font-size-xl: 1.6rem;
  --font-size-xxl: 2.0rem;
}

@media screen and (max-width: 768px) {
    :root {
    /* PADDING */
    --padding-section: 20px;
    --padding-object: 16px;
    --padding-header: 20px;

    /* FONT-SIZE */
    --font-size-md: 1.2rem;
    --font-size-lg: 1.6rem;
    --font-size-xl: 2rem;
  }
}

*,*::before,*::after {
  box-sizing: border-box;
  transition: 0.2s linear;
  scroll-behavior: smooth;
}
*::selection{
  background-color: var(--blue-default);
  color: var(--grey-white);
}

body{
  margin:0;
  background-color: var(--grey-light-01);
}

::-webkit-scrollbar{
  width: var(--padding-sm);
  height: var(--padding-sm);
  background-color: var(--grey-light-01);
  border-left: 1px solid var(--grey-md-02);
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey-md-02);
}

a:hover, button:hover{
  cursor: pointer;
}
